<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peppermint.dao.UserFileDAO">

    <select id="findByUserId" parameterType="Integer" resultType="com.peppermint.entity.UserFile">
        select id,oldFileName,newFileName,ext,path,size,type,isImg,downcounts,uploadTime,userId
        from files
        where userId=#{id}
    </select>

    <insert id="save" parameterType="com.peppermint.entity.UserFile" useGeneratedKeys="true" keyProperty="id">
        insert into files
        values (#{id},#{oldFileName},#{newFileName},#{ext},#{path},#{size},#{type},#{isImg},#{downcounts},#{uploadTime},#{userId})
    </insert>

    <select id="findById" parameterType="integer" resultType="com.peppermint.entity.UserFile">
        select id,oldFileName,newFileName,ext,path,size,type,isImg,downcounts,uploadTime,userId
        from files
        where id=#{id}
    </select>

    <update id="update" parameterType="com.peppermint.entity.UserFile">
        update files set downcounts=#{downcounts}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from files where id = #{id}
    </delete>
</mapper>